@{
    ViewBag.Title = "About";
}
<div class="page-wrapper" style="overflow: unset !important;">

    <!-- START: HOME -->
    <section class="about-us-main" id="about-us-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-color">
                        <p>Why we are unique</p>
                        <h2>Why Choose Us ?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 mt-4">
                    <div class="about-front-img">
                        <img src="~/content/assets/images/about-us.png" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-7 mt-4">
                    <div class="about-us-front-description">
                        <h4>Principle & Value</h4>
                        <p>Justice Inn is a “Consortium of Legend Lawyers,” the first of its kind in Pakistan. Our team comprises of several legal dignitaries that have served on some of the highest legal positions in the country. From former Justices of Supreme Court and High courts of Pakistan and offices of an attorney general, Advocate general, Prosecutor general and our team has the aces of the sector.</p>
                        <p>Apart from that, our legal and judicial team possess exceptional legal expertise. We do not provide piecemeal solutions but provide a coherent approach towards the entire case. It enables us to meet the exigencies of the case while offer top of the line legal services to our clients.</p>
                        <p>At Justice Inn, we understand existential threats that shake the foundations of our clients. That is why our professionals ensure accuracy of advice while offering paramount results for every case. We’re strongly committed to offer and add value to the case while partnering with our clients seamlessly.</p>
                        <h4>Principle & Value</h4>
                        <p>Our legal representation and advice are catered after stupendous consultation and workability. Working as the “First Consortium of Advocacy” in Pakistan, we guarantee brilliance in legal services that surpasses others. Our legal professionals have years of experience, which makes them your rightful choice for all legal matters. We’re always dedicated to offering unprecedented legal aid, guaranteeing swift justice to be delivered for our clients.</p>
                        <p>Our lawyers and attorneys make processes easier for our clients, helping them understand the legal terms and options of their case. What makes us outstanding than other law firms is the promise of remarkable legal expertise. We’re prodigious when it comes to revolutionizing legal proceedings because that is what we’re best at.</p>
                        <p>Our firm prides itself on having licensed and certified professionals that bring years of experience in handling legal cases. Our aim is to provide unparalleled legal expertise and an enigma of legal consultation to our clients. We envision the betterment of Pakistan's legal aid services through us. That is why we represent our clients with the utmost excellence and strategic consultation with complete sagacity.</p>
                        <p>We comply with the legal compliances and adhere to regulations to strengthen the case for our clients. Our legal experts are ever ready to communicate seamlessly for a better understanding of your requirements.</p>
                        <h4>Global Coverage</h4>
                        <p>Our legal representation and advice are catered after stupendous consultation and workability. Working as the “First Consortium of Advocacy” in Pakistan, we guarantee brilliance in legal services that surpasses others. Our legal professionals have years of experience, which makes them your rightful choice for all legal matters. We’re always dedicated to offering unprecedented legal aid, guaranteeing swift justice to be delivered for our clients.</p>
                        <p>Our lawyers and attorneys make processes easier for our clients, helping them understand the legal terms and options of their case. What makes us outstanding than other law firms is the promise of remarkable legal expertise. We’re prodigious when it comes to revolutionizing legal proceedings because that is what we’re best at.</p>
                        <p>Our firm prides itself on having licensed and certified professionals that bring years of experience in handling legal cases. Our aim is to provide unparalleled legal expertise and an enigma of legal consultation to our clients. We envision the betterment of Pakistan's legal aid services through us. That is why we represent our clients with the utmost excellence and strategic consultation with complete sagacity.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END: HOME -->
    <!-- START: ABOUT -->
    <section class="section section-about" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-color">
                        <p>Our Vision</p>
                        <h2>Objective & Plan</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-4">
                    <div class="object-wrapper">
                        <div class="object-img">
                            <img src="~/content/assets/images/object-img.png" class="img-fluid">
                        </div>
                        <div class="object-content">
                            <h3>Principle & Value</h3>
                            <p>At Justice Inn, our consortium believes in offerings stupendous solutions within ethical and legal boundaries. We value the privacy of our clients and safeguard their identity whilst offering strategic legal solutions. Our team is highly professional and ensures competence in every process of our assistance. For us, the success of our client holds the foremost value, and we make sure to achieve it.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="object-wrapper">
                        <div class="object-img">
                            <img src="~/content/assets/images/object-img.png" class="img-fluid">
                        </div>
                        <div class="object-content">
                            <h3>Principle & Value</h3>
                            <p>At Justice Inn, our consortium believes in offerings stupendous solutions within ethical and legal boundaries. We value the privacy of our clients and safeguard their identity whilst offering strategic legal solutions. Our team is highly professional and ensures competence in every process of our assistance. For us, the success of our client holds the foremost value, and we make sure to achieve it.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="object-wrapper">
                        <div class="object-img">
                            <img src="~/content/assets/images/object-img.png" class="img-fluid">
                        </div>
                        <div class="object-content">
                            <h3>Principle & Value</h3>
                            <p>At Justice Inn, our consortium believes in offerings stupendous solutions within ethical and legal boundaries. We value the privacy of our clients and safeguard their identity whilst offering strategic legal solutions. Our team is highly professional and ensures competence in every process of our assistance. For us, the success of our client holds the foremost value, and we make sure to achieve it.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END: ABOUT -->
    <!-- START: SERVICES -->
    <section class="section section-light-grey section-services pt-3" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-color-no-border text-center">
                        <p>OUR EXPERT TEAM</p>
                        <h2>Our People in Focus</h2>
                        <p style="text-transform: unset; line-height: 22px; padding: 0px 40px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,unknown printer took a galley of type and scrambled.Lorem Ipsum issimply</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-4">
                    <div class="team-wrapper">
                        <div class="team-pic">
                            <img src="~/content/assets/images/team.png" class="img-fluid">
                        </div>
                        <div class="namecontent">
                            <h3>Jon Doe</h3>
                            <p>Lawyer</p>
                        </div>
                        <div class="social-media-link">
                            <ul>
                                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni lni-twitter-filled"></i></a></li>
                                <li><a href="#"><i class="lni lni-instagram-original"></i></a></li>
                            </ul>
                            <p>mail: <span>jondoe@gmail.com</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-wrapper">
                        <div class="team-pic">
                            <img src="~/content/assets/images/team-2.png" class="img-fluid">
                        </div>
                        <div class="namecontent">
                            <h3>Mark Twin</h3>
                            <p>Lawyer</p>
                        </div>
                        <div class="social-media-link">
                            <ul>
                                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni lni-twitter-filled"></i></a></li>
                                <li><a href="#"><i class="lni lni-instagram-original"></i></a></li>
                            </ul>
                            <p>mail: <span>jondoe@gmail.com</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-wrapper">
                        <div class="team-pic">
                            <img src="~/content/assets/images/team-3.png" class="img-fluid">
                        </div>
                        <div class="namecontent">
                            <h3>Julie McCul</h3>
                            <p>Corporate Lawyer</p>
                        </div>
                        <div class="social-media-link">
                            <ul>
                                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni lni-twitter-filled"></i></a></li>
                                <li><a href="#"><i class="lni lni-instagram-original"></i></a></li>
                            </ul>
                            <p>mail: <span>jondoe@gmail.com</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>